.game-component {
    /* position: absolute; */
    /* bottom: 10%; */
    /* bottom: 16%; */
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: top;
    /* margin-top: 1%; */
    margin: auto;
  }

  @media only screen and (max-width: 600px) {
    .game-component {
      bottom: 5%;
    }
}
